.root {
  padding: 10px;
  padding-right: 100px;
  background-color: #20114408;
  border: 1.5px solid #201144;

  p {
    font-size: 17px;
  }

  .score {
    span {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
    }
  }
}
