.root {
  padding: 20px 30px;
  border: 1px solid #201144;
  img {
    width: 200px;
    height: 200px;
  }

  .name {
    font-size: 20px;
    text-align: center;
  }

  .role{
    text-align: center;
    text-transform: lowercase;
  }
}
