.root {
  padding: 20px 30px;
  border: 1.5px solid #201144;
  .imgUser {
    width: 200px;
    height: 200px;

    cursor: pointer;
    transition: .2s;
  }

  .name {
    font-size: 23px;
    text-align: center;
    color: #FF693A;
  }

  .role{
    text-align: center;
    text-transform: lowercase;
  }
}
