.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  padding-left: 80px;

  max-width: 1200px;
  margin: 0 auto;

  h1{
    font-size: 40px;
    color: #201144;
  }

  .posts {
    width: 100%;

    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    gap: 50px;
  }
}

@media (max-width: "900px") {
  .root{
  padding: 20px 20px 20px 80px;

  h1{
    text-align: center;
  }
  }
  
}

