* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: .5em; 
  height: 8px; 
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #919191;
  border-radius: 1em;
}
