.root {
  width: 350px;
  height: 250px;

  padding: 30px;

  background: #f9f9f9;
  .container {
    display: flex;
    justify-content: space-between;

    margin: 15px 0;

    h3 {
      font-size: 25px;
    }

    img {
      width: 70px;
      height: 70px;

      border-radius: 35px;
    }
  }
  p {
    margin-top: 25px;

    font-size: 18px;
  }
}
