.slick-slider {
  max-width: 1400px;
  min-width: 250px;
  height: 300px;

  padding: 50px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  .slick-arrow {
    position: absolute;
    z-index: 10;

    width: 40px;
    height: 40px;

    background: #ff693a !important;
    @media (max-width: 500px) {
      & {
        width: 30px;
        height: 30px;
      }
    }
  }

  .slick-prev {
    &::before {
      content: "·";
      font-size: 20px;
      line-height: 25px;
      font-weight: 700;
    }
  }
  .slick-next {
    &::before {
      content: "·";
      font-size: 20px;
      line-height: 25px;
      font-weight: 700;
    }
  }

  .slick-list {
    max-width: 1200px;

    margin: 0 auto;

    padding: 425px;
    @media (max-width: 1050px) {
      & {
        padding: 250px;
      }
    }
    @media (max-width: 900px) {
      & {
        padding: 120px;
      }
    }
    @media (max-width: 850px) {
      & {
        padding: 100px;
      }
    }
    @media (max-width: 650px) {
      & {
        padding: 70px;
      }
    }
    @media (max-width: 600px) {
      & {
        padding: 50px;
      }
    }
    @media (max-width: 550px) {
      & {
        padding: 55px;
      }
    }
    @media (max-width: 500px) {
      & {
        padding: 35px;
      }
    }

    @media (max-width: 450px) {
      & {
        padding: 30px;
      }
    }
  @media (max-width: 400px) {
    & {
      padding: 15px;
    }
  }
  }
}
